@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="EN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow py-0 fixed-top">
      <a class="navbar-brand text-dark brand mr-auto" href="/Home">open mic CHICAGO</a>
      @{
        if (@Context.Session.GetString("UserName")==null) {
          <a class="nav-link nav-item" href="/Login">Login</a>
          <a class="nav-link nav-item" href="/Register">Register</a>
        }
        else {
          <a class="nav-link nav-item" href="/logout">Log Out</a> 
        }
      }
    </nav>
    @RenderBody()
  </div>
  </body>
</html>
